.clientInfo {
  width: calc(509 / 1572 * 100%);
  border-radius: 8px;
  border: 2px solid #EAEBEE;
}

.clientInfoTop {
  padding: 12px 22px 10px 22px;
  display: flex;
}

.clientData {
  display: flex;
  gap: 12px;
  align-items: center;
}

.userIcon {
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  background-color: #496FFF;
}

.userIcon svg {
  width: 24px;
  height: 24px;
}
