.clientsContent {
    display: none;
    flex-direction: column;
    height: 100%;
    &.active {
        display: flex;
    }
}

.clientsContentWrap {
    display: flex;
    gap: 24px;
    height: 100%;
}
