.eventRibbon {
  width: calc(1150 / 1482 * 100%);
  border: 2px solid rgba(41, 47, 81, 0.1);
  border-radius: 8px;
  display: none;
}

.eventRibbon.active {
  display: block;
}

.eventRibbon__itemHeading {
  padding: 18px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.14px;
  border-bottom: 2px solid #EAEBEE;
}

.eventRibbon__itemInfo {
  padding: 18px;
}

.eventRibbon__itemInfoRecord {
  display: flex;
  gap: 12px;
}

.eventRibbon__itemInfoRecord .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #496FFF;
}

.eventRibbon__itemInfoRecord .record {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.eventRibbon__itemInfoRecord .recordInfo {
  display: inline-block;
  padding: 6px 22px;
  border-radius: 5px;
  border: 2px solid rgba(41, 47, 81, 0.1);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.eventRibbon__itemInfoRecord .time {
  font-size: 10px;
  font-weight: 500;
  opacity: 0.5;
}
