@import '../../../../variable.global.scss';

.switchButton {
    padding: 3px;
    border: 3px solid $green;
    border-radius: 12px;
    width: 33px;
    height: 21px;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: calc(50% - 5px);
        left: 3px;
        width: 9px;
        height: 9px;
        border-radius: 50%;
        background-color: $green;
    }
}