@import '../../../../variable.global.scss';

.formautorization {
    display: flex;
    flex-direction: column;
    gap: 24px;
    min-width: 480px;
}
input {
    padding: 18px 40px 18px 22px;
    border: 2px solid rgba(41, 47, 81, 0.5);
    border-radius: 8px;
    height: 60px;
    width: 100%;
    font-weight: 600;
    color: transparentize(#292F51, 0.5);
    &:focus,
    &:focus-visible,
    &:hover,
    &:active {
        border-color: $active;
        & + label {
            opacity: 1;
        }
        & ~ span {
            color: $active;
        }
    }
}
input::placeholder {
    font-weight: 600;
}
.inputwrapper {
    position: relative;
    width: 100%;
    label {
        position: absolute;
        top: -10px;
        left: 16px;
        display: inline-block;
        padding: 0 8px;
        font-weight: 600;
        background-color: $white;
        color: $active;
        opacity: 0;
    }
}

.inputIcon {
    position: absolute;
    display: flex;
    top: 50%;
    transform: translateY(-50%);
    right: 25px;
}

.bottomwrapper {
    display: flex;
    justify-content: space-between; 
    margin-bottom: 56px;
}
.bottomwrapperlabel {
    display: flex;
    align-items: center;
    font-weight: 600;
    opacity: 0.5;
}
.inputcheckbox {
    margin-right: 12px;
    width: 20px;
    height: 20px;
    border: 2px solid rgba(41, 47, 81, 0.5);
    border-radius: 4px;
    cursor: pointer;
}
.forgotpasslink {
    color: $active;
    font-weight: 600;
}

button.autorizationBtn {
    padding: 16px 32px;
    background-color: $active;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-weight: 600;
    height: 56px;
    border: 2px solid $active;
    color: $white;
}

.registrationBtn {
    gap: 10px;
}
.registrationText {
    color: $active;
}